/* Date of Birth DIV */
.dob div{
  display: inline-block;
}

/* Date of Birth Inputs */
.dob input{
    width: unset;
}

/* Remove up down arrows on number inputs for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*  Remove up down arrows on number inputs for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
